aiohttp==3.7.4.post0
numpy==1.20.3
zipp==3.4.1
lockfile==0.12.2
importlib_metadata==4.5.0
monotonic==1.6
ordereddict==1.1
tornado==6.1
Brotli==1.0.9
markdownify==0.9.0
keyring==23.0.1
Flask==2.0.1
lxml==4.6.3
python_ntlm==1.1.0
twilio==6.59.1
cryptography==3.4.7
beautifulsoup4==4.9.3
protobuf==3.17.3
pyOpenSSL==20.0.1
PyYAML==5.4.1
